@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;600&display=swap');
@font-face {
    font-family: "Molot";
    src: url("../fonts/Molot.otf") format("opentype");
}

@media screen and (max-width: 768px) {
    .mobileMenuContainer {
        display: flex !important;
    }
    .header, .header * {
        background: transparent !important;
    }
    .contentContainer {
        justify-content: space-between !important;
        align-items: flex-start !important;
        padding: 0 8px !important;
        margin: 0 !important;
    }
    .headerLogoWrapper {
        display: none !important;
    }
    .headerMobileWrapper {
        display: block !important;
    }
    .headerHeading {
        font-size: 36px !important;
        width: 100% !important;
        flex-shrink: 1;
    }
    .headerMenuList {
        display: none !important;
    }
    .header {
        padding-top: 18px !important;
    }
    .headerContainer {
        width: 90% !important;
    }
    .hero:after {
        /*height: 100% !important;*/
        /*width: 250% !important;*/
        /*transform: rotate(-74deg) !important;*/
        /*left: -70% !important;*/
        position: relative;
        z-index: 4;
        background: url("/images/mobileHeroBg.png") center !important;
    }
    .heroContentContainer {
        justify-content: center !important;
    }
    .heroHeading {
        font-size: 20px !important;
        width: 100% !important;
        text-align: center !important;
    }
    .heroSocials {
        display: none !important;
    }
    .aboutHeading {
        font-size: 54px !important;
        text-align: right;
    }
    .heroHeadingImg {
        display: block !important;
    }
    .timetable {
        margin-top: 2px !important;
    }
    .timetableItem {
        font-weight: 300;
        text-align: right;
    }
    .aboutPrice {
        height: 177px;
        background: rgba(255, 34, 0, 0.6) !important;
    }
    .priceHeading {
        font-size: 16px !important;
    }
    .priceTicket {
        font-size: 16px !important;
        font-weight: 400 !important;
    }
    .priceContainer {
        height: 100%;
        padding: 10px 9px !important;
        flex-direction: column;
        justify-content: space-between !important;
        align-items: center;
        gap: 11px;
    }
    .priceItem {
        width: 100%;
        height: 50%;
        display: flex;
        justify-content: space-between;
    }
    .priceHeading {
        align-self: flex-start;
        position: relative;
    }
    .priceWrapper {
        align-self: flex-end;
    }
    #exp {
        padding-top: 18px !important;
    }
    .expHeading {
        text-align: left !important;
        font-size: 54px !important;
    }
    .expAbout {
        margin-top: 24px !important;
        padding: 0 9px !important;
    }
    .sov {
        padding-top: 60px !important;
    }
    .sovHeadingWrapper {
        max-width: 360px !important;
        height: 28px !important;
        margin-left: auto;
    }
    .sovHeading {
        font-size: 34px !important;
        text-align: center;
        top: -20px !important;
        left: 0 !important;
    }
    .sovList {
        flex-direction: column !important;
        align-items: center !important;
        padding-left: 0 !important;
    }
    .sovItem {
        background: transparent !important;
        color: #fff !important;
        font-size: 16px !important;
    }
    .rus {
        padding-top: 80px !important;
    }
    .rusHeadingWrapper {
        max-width: 360px !important;
        height: 28px !important;
    }
    .rusHeading {
        font-size: 34px !important;
        text-align: center !important;
        top: -20px !important;
        left: 0 !important;
    }
    .rusList {
        padding-right: 0 !important;
        padding-left: 20px !important;
        align-content: flex-start !important;
        max-height: 300px !important;
    }
    .rusItem {
        font-size: 16px !important;
        background: transparent !important;
        color: #fff !important;
    }
    .for {
        padding-top: 80px !important;
    }
    .forHeadingWrapper {
        max-width: 360px !important;
        height: 28px !important;
        margin-left: auto;
    }
    .forHeading {
        font-size: 34px !important;
        text-align: center !important;
        top: -20px !important;
        left: 0 !important;
    }
    .forListsContainer {
        background-position-y: 200px !important;
        background-size: 300px 280px !important;
        padding-left: 20px;
        gap: 57px !important;
    }
    .forList {
        padding-right: 0 !important;
        padding-left: 0 !important;
        align-content: center !important;
    }
    .forItem {
        font-size: 16px !important;
        background: transparent !important;
        color: #fff !important;
    }
    .groupHeading {
        font-size: 54px !important;
        text-align: right !important;
        margin-bottom: 24px;
    }
    .groupContentContainer {
        align-items: flex-start !important;
    }
    .groupContent {
        text-align: left !important;
    }
    table, tbody, tr, td {
        border: none !important;
    }
    tbody {
        display: flex;
        flex-direction: column;
        gap: 35px;
    }
    .groupTable {
        margin-top: 0 !important;
    }
    .groupTable thead {
        display: none;
    }
    .groupTable td {
        height: auto !important;
    }
    .groupTable tbody tr {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .groupTable tbody td:first-of-type {
        width: 100%;
        margin: 5px 25px;
        background: rgba(255, 255, 255, 0.26);
        border-radius: 10px;
        padding: 8px 0 !important;
    }
    .tableMobileContent {
        box-sizing: content-box !important;
        text-align: left !important;
        padding: 0 !important;
        max-width: 190px;
        font-size: 14px !important;
        font-weight: 300 !important;
    }
    .tableMobilePrice {
        max-width: 103px !important;
        box-sizing: content-box !important;
        font-size: 14px !important;
        font-weight: 300 !important;
        padding: 0 !important;
    }
    .tablePrice {
        font-weight: 500 !important;
        font-size: 18px !important;
    }
    .v-center {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .tableMobileHeading {
        background: gray;
        margin-bottom: 25px !important;
        font-size: 24px !important;
    }
    .tableMobileMd {
        font-size: 20px !important;
    }
    .tableMobileSm {
        font-size: 16px !important;
    }
    .tableMobileXS {
        font-size: 14px !important;
    }
    .md-none {
        display: none;
    }
    .md-flex {
        display: flex !important;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        text-align: right !important;
    }
    .groupTour {
        margin-top: 40px;
        flex-direction: column-reverse !important;
    }
    .groupOrder {
        flex-wrap: wrap;
        gap: 13px !important;
    }
    .orderRow {
        flex-basis: 370px !important;
        justify-content: center !important;
        gap: 30px !important;
    }
    .orderItemWrapper:first-of-type {
        flex-basis: 154px !important;
    }
    .orderItemWrapper:last-of-type {
        flex-basis: 185px !important;
    }
    .orderItem {
        padding: 6px 0 6px 7px !important;
        width: 100%;
    }
    .orderSubmit {
        padding: 6px 0 !important;
        width: 100%;
    }
    .certificates {
        height: 618px !important;
    }
    .certificatesContainer {
        background-position: center !important;
        background-size: cover !important;
    }
    .certificatesHeading {
        text-align: center !important;
        font-size: 40px !important;
        padding: 0 !important;
    }
    .certificatesContentContainer {
        margin: 18px auto 0 auto !important;
        max-width: 304px !important;
    }
    .certificatesForm {
        gap: 12px !important;
    }
    .certificatesForm * {
        padding: 6px 0 6px 10px !important;
    }
    .certificatesContent {
        text-align: center;
        font-size: 14px !important;
    }
    .certificatesSubmit {
        padding: 6px 0 !important;
        max-width: 124px !important;
    }
    .contactsContainer {
        padding: 0 7px !important;
    }
    .contactsHeading {
        padding: 0 !important;
        font-size: 54px !important;
    }
    .contactsContentContainer {
        margin-top: 15px !important;
        flex-grow: 1 !important;
    }
    .contactsContentWrapper {
        flex-wrap: wrap !important;
        gap: 15px !important;
    }
    .contactsContentItem {
        flex-direction: row !important;
        align-items: center !important;
        justify-content: center;
        max-width: 100% !important;
    }
    .mapWrapper {
        display: none !important;
    }
    .contactsContent {
        font-size: 14px !important;
    }
    .contactsSocials a {
        width: 42px !important;
        height: 42px !important;
    }
    .contactsBgContainer {
        height: 282px !important;
        background: url("../images/mobileContactsBg.png") no-repeat center !important;
    }
}

* {
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Jost', sans-serif;
    background: #000;
    color: #fff;
}

.mobileMenuContainer {
    display: none;
    position: absolute;
    z-index: 4;
    top: -100%;
    flex-direction: column;
    justify-items: center;
    align-items: center;

    transition: all .3s ease-in-out;
}

.closeWrapper {
    border: none;
}

.mobileMenuContainer, .closeWrapper {
    background: #fff;
}

.mobileMenuItem {
    border-bottom: 1px solid #000;
    height: 40px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mobileMenuItem a {
    color: #000;
    text-decoration: none;
    font-size: 20px;
    font-weight: 400;
}

.logoWrapper {
    height: 60px;
}

.closeWrapper {
    height: 73px;
}

.container {
    max-width: 1366px;
    margin: 0 auto;
}

.p-0-25 {
    padding: 0 25px;
}

.w-full {
    width: 100%;
}

.contentContainer {
    height: 162px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.headerContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.headerHeading {
    font-family: "Molot", sans-serif;
    font-size: 6rem;
    letter-spacing: 2px;
}

.headerMenuList {
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.headerMenuItem a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}

.headerMobileWrapper {
    display: none;
    width: 33px;
    height: 40px;
    margin-top: 16px;
}

.headerLogoWrapper {
    align-self: flex-start;
    margin-top: 35px;
    margin-left: 32px;
}

.hero {
    height: 100vh;
    padding-top: 30px;
    padding-bottom: 71px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hero:after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    background: url("../images/heroBg.png") no-repeat center;
}

.heroContentContainer {
    padding: 0 25px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.heroSocials {
    display: flex;
    gap: 14px;
}

.heroSocials a {
    display: block;
    width: 62px;
    height: 62px;
    color: #fff;
    background: #fff;
    border-radius: 100%;
}

.heroSocials img {
    width: 100%;
    height: 100%;
    padding: -1px;
}

.heroHeading {
    text-align: right;
    font-weight: 400;
    width: 222px;
}

.heroHeadingContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.heroHeadingImg {
    display: none;
    width: 80px;
    height: 40px;
}

.about {
    padding-top: 27px;
}

.aboutContainer {
    background: url("../images/aboutBg.png") no-repeat right;
}

.aboutHeading {
    font-family: "Molot", sans-serif;
    font-size: 115px;
}

.timetable {
    margin-top: 43px;
}

.pContainer {
    margin-top: 42px;
    display: flex;
    flex-direction: column;
}

.aboutP {
    max-width: 322px;
    font-size: 1rem;
}

.aboutP:not(:last-child) {
    margin-bottom: 22px;
}

.aboutPrice {
    /*width: 100%;*/
    background: #FF2200;
    margin-top: 77px;
}

.priceContainer {
    display: flex;
    justify-content: right;
    gap: 10%;
    padding-right: 85px;
}

.priceHeading {
    font-size: 1.3rem;
    font-weight: 600;
}
.priceTicket {
    font-size: 22px;
    font-weight: 600;
}

.exp {
    padding-top: 102px;
}

.expContainer {
    position: relative;
    padding: 0 8px;
}

.expHeading {
    font-size: 115px;
    font-family: "Molot", sans-serif;
    text-align: right;
    padding-right: 55px;
}

.expAbout {
    margin-top: 66px;
    padding-left: 164px;
    position: relative;
    z-index: 1;
}

.expP {
    max-width: 543px;
}

.expP:not(:last-child) {
    margin-bottom: 24px;
}

.keen-slider__slide img {
    width: 100%;
}

.carouselContainer {
    margin-top: -40px;
    display: flex;
    justify-content: center;
    padding: 0 15px;
    gap: 15px;
}

.btns {
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
}

.sov {
    padding-top: 248px;
}

.sovHeadingWrapper {
    max-width: 824px;
    height: 68px;
    background: #FF2200;
}

.sovHeading {
    font-family: "Molot", sans-serif;
    font-size: 70px;

    position: relative;
    top: -40px;
    left: 58px;
}

.sovList {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 20px;
    height: 660px;
    list-style: none;
    margin-top: 40px;
    background: url("../images/sovBg.png") right top no-repeat;
}

.sovItem {
    background: #fff;
    color: #000;
    box-sizing: content-box;
    padding: 1px 5px;
    border-radius: 7px;
    font-size: 24px;
    font-weight: 500;
}

.rus {
    padding-top: 248px;
}

.rusHeadingWrapper {
    max-width: 878px;
    height: 68px;
    background: #FF2200;
    margin-left: auto;
}

.rusHeading {
    font-family: "Molot", sans-serif;
    font-size: 70px;

    position: relative;
    top: -40px;
    left: 15px;
}

.rusListWrapper {
    height: 660px;
    margin-top: 40px;
    background: url("../images/rusBg.png") left no-repeat;
}

.rusList {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-end;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 20px;
    list-style: none;
    padding: 0 371px 0 0;
}

.rusItem {
    background: #fff;
    color: #000;
    box-sizing: content-box;
    padding: 1px 5px;
    border-radius: 7px;
    font-size: 24px;
    font-weight: 500;
}

.for {
    padding-top: 248px;
}

.forHeadingWrapper {
    max-width: 824px;
    height: 68px;
    background: #FF2200;
}

.forHeading {
    font-family: "Molot", sans-serif;
    font-size: 70px;

    position: relative;
    top: -40px;
    left: 48px;
}

.forListsContainer {
    height: 600px;
    display: flex;
    gap: 100px;
    background: url("../images/forBg.png") bottom right no-repeat;
}

.forList {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 20px;
    list-style: none;
    margin-top: 40px;
    padding: 0 0 0 164px;
}

.forItem {
    background: #fff;
    color: #000;
    box-sizing: content-box;
    padding: 1px 5px;
    border-radius: 7px;
    font-size: 24px;
    font-weight: 500;
}

.groupTour {
    display: flex;
    flex-direction: column;
    gap: 36px;
}

.groupContainer {
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0)),
    linear-gradient(to top, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0)), url("../images/groupBg.png");
    background-position: 0 -80px;
    background-repeat: no-repeat;
    padding: 0 20px;
}

.groupHeading {
    font-size: 115px;
    font-family: "Molot", sans-serif;
    padding-left: 20px;
}

.groupContentContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 24px;
}

.groupContent {
    text-align: right;
    max-width: 437px;
}

.groupTable {
    margin-top: 69px;
    border-collapse: collapse;
    border: 1px solid #fff;
}

.groupTable thead {
    height: 42px;
    background: rgba(0, 0, 0, 0.3);
}

.groupTable td {
    height: 82px;
}

.groupTable > thead > tr > th {
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
}

.groupTable > tbody > tr > td {
    text-align: center;
    padding: 0 25px;
    border: 1px solid #fff;
    border-top: none;
}

.tablePrice {
    font-weight: 400;
    font-size: 28px;
}

.xl-none {
    display: none;
}

.groupOrderContainer {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.groupOrder {
    display: flex;
    justify-content: center;
    gap: 43px;
}

.orderRow {
    display: flex;
    justify-content: space-between;
    gap: 43px;
}

.orderRow:first-of-type {
    flex-basis: 739px;
}

.orderRow:last-of-type {
    gap: 36px;
    flex-basis: 464px;
}

.orderItem {
    width: 100%;
    padding: 14px 0 14px 11px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.8);
    border: none;
}

.orderHeading {
    font-weight: 600;
    font-size: 24px;
    text-align: center;
}

.orderName {
    flex-basis: 208px;
}

.orderEvent {
    flex-basis: 488px;
}

.orderTelephone {
    flex-basis: 201px;
}

.orderSubmitWrapper {
    flex-basis: 227px;
}

.orderSubmit {
    width: 100%;
    padding: 14px 0;
    border-radius: 10px;
    background: #FF2200;
    color: #fff;
    border: none;
}

.certificates {
    height: 1268px;
}

.certificatesContainer {
    padding-top: 71px;
    background: url("../images/certificatesBg.png") no-repeat 0 -500px;
    background-size: cover;
    height: 100%;
}

.certificatesHeading {
    padding-right: 55px;
    text-align: right;
    font-size: 115px;
    font-family: "Molot", sans-serif;
}

.certificatesContentContainer {
    display: flex;
    flex-direction: column;
    max-width: 428px;
    justify-content: center;
    gap: 33px;
    margin-top: 116px;
    margin-left: 362px;
}

.certificatesForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content: center;
    gap: 33px;
}

.certificatesForm * {
    padding: 16px 0 16px 18px;
    border-radius: 10px;
    width: 100%;
}

.certificatesSubmit {
    max-width: 214px;
    background: #FF2200;
    color: #fff;
    font-weight: 500;
    border: none;
    padding: 16px 0;
}

.contactsHeading {
    font-size: 115px;
    font-family: "Molot", sans-serif;
    padding-left: 56px;
}

.contactsContentContainer {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 124px;
}

.contactsContentWrapper {
    display: flex;
    flex-direction: column;
    gap: 28px;
}

.contactsContentItem {
    max-width: 395px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.mapWrapper {
    width: 727px;
    height: 410px;
    border: 1px solid #fff;
    flex-shrink: 1;
}

.contactsSocials {
    display: flex;
    gap: 14px;
}

.contactsSocials a {
    display: block;
    width: 62px;
    height: 62px;
    color: #fff;
    background: #fff;
    border-radius: 100%;
}

.contactsSocials img {
    width: 100%;
    height: 100%;
    padding: -1px;
}

.contactsBgContainer {
    height: 738px;
    background: url("../images/contactsBg.png") no-repeat center;
}

